<template>
  <div id="bg_full">
    <div id="app" class="container">
      <form id="form-box" class="box">
        <!-- Work Type -->
        <div class="columns">
          <div class="column is-narrow">
            <p class="ctc-label">Work Type</p>
          </div>
          <div class="column">
            <!-- Work Type Select -->
            <div class="field">
              <div class="control">
                <div class="ctc-input select is-rounded">
                  <select
                    class="ctc-input"
                    v-model="selectedWorkType"
                    :disabled="!workTypes.length"
                  >
                    <option
                      v-for="workType in workTypes"
                      :key="workType.id"
                      v-bind:value="workType"
                    >{{ `${workType.label} ($${workType.rate})` }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Time -->
        <div class="columns">
          <div class="column is-narrow">
            <p class="ctc-label">Time</p>
          </div>
          <!-- Time Select -->
          <div class="column">
            <div class="field has-addons">
              <p class="control has-icons-left has-icons-right time-container">
                <input
                  id="timeInput"
                  class="input is-rounded"
                  placeholder="Search"
                  v-model="timeInput"
                  type="number"
                  :step="timeStep"
                  @blur="blurTime()"
                  :disabled="!workTypes.length"
                >
                <span class="icon is-small is-left">
                  <i class="fa fa-clock-o"></i>
                </span>
              </p>
              <div class="control time-drop">
                <div class="select">
                  <select v-model="timeTypeLabel" :disabled="!workTypes.length">
                    <option value="minutes">Minutes</option>
                    <option value="hours">Hours</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Cost -->
        <div class="columns">
          <div class="column is-narrow">
            <p class="ctc-label">Cost</p>
          </div>
          <!-- Time Select -->
          <div class="column">
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input
                  id="costInput"
                  class="input is-rounded"
                  v-model="costInput"
                  type="number"
                  @blur="blurCost()"
                  :disabled="!workTypes.length"
                >
                <span class="icon is-small is-left">
                  <i class="fa fa-credit-card-alt"></i>
                </span>
              </p>
            </div>
          </div>
        </div>

        <div class="level is-mobile">
          <div class="level-item">
            <a @click="roundUp()">
              <i class="fa fa-chevron-up" aria-hidden="true"></i> Round 15 min.
            </a>
          </div>
          <div class="level-item">
            <a @click="roundDown()">
              <i class="fa fa-chevron-down" aria-hidden="true"></i> Round 15 min.
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import IWorkType from "@/assets/ts/IWorkType";
import axios from "axios";
import { TimeType } from "@/assets/ts/TimeType";

@Component
export default class App extends Vue {
  /**
   * List of work types
   */
  private workTypes: IWorkType[] = [];

  /**
   * The type of time displayed (minutes or hours)
   */
  private timeTypeLabel: string = "minutes";

  private timeType: TimeType = TimeType.Minutes;

  /**
   * The step of the time input
   */
  private timeStep: number = 1;

  /**
   * The currently selected work type
   */
  private selectedWorkType: IWorkType | null = null;

  /**
   * The time input
   */
  private timeInput: string = "0";

  /**
   * The cost input
   */
  private costInput: string = "0.00";

  /**
   * The base URL of the API
   */
  private readonly api: string =
    "http://" + window.location.hostname + "/api/rates";

  @Watch("timeTypeLabel")
  private onTimeTypeLabelChanged() {
    if (this.timeTypeLabel === "minutes") {
      this.timeType = TimeType.Minutes;
    } else {
      this.timeType = TimeType.Hours;
    }
    const parsedTime = parseFloat(this.timeInput);
    if (this.timeType === TimeType.Minutes) {
      this.timeInput = (parsedTime * 60).toFixed(0);
      this.timeStep = 1;
    } else {
      this.timeInput = (parsedTime / 60).toFixed(2);
      this.timeStep = 0.05;
    }
  }

  @Watch("timeInput")
  private onTimeInputChanged() {
    const parsedTime = parseFloat(this.timeInput);
    if (!isNaN(parsedTime) && parsedTime < 0) {
      this.timeInput = this.timeType === TimeType.Minutes ? "0" : "0.00";
    }
    this.updateCostFromTime();
  }

  @Watch("costInput")
  private onCostInputChanged() {
    const parsedCost = parseFloat(this.costInput);
    if (!isNaN(parsedCost) && parsedCost < 0) {
      this.costInput = "0.00";
    }
    this.updateTimeFromCost();
  }

  @Watch("selectedWorkType")
  private onSelectedWorkTypeChanged() {
    this.updateCostFromTime();
  }

  private updateTimeFromCost() {
    // Don't auto-update the time input if the user is already editing it
    // Funny and bad things will happen :(
    if (
      document &&
      document.activeElement &&
      document.activeElement.id === "timeInput"
    ) {
      return;
    }
    if (this.selectedWorkType) {
      let parsedCost = parseFloat(this.costInput);
      parsedCost = isNaN(parsedCost) ? 0 : parsedCost;
      let tempTime = parsedCost / this.selectedWorkType.rate;
      if (this.timeType === TimeType.Minutes) {
        tempTime = tempTime * 60;
        this.timeInput = tempTime.toFixed(0);
      } else {
        this.timeInput = tempTime.toFixed(2);
      }
    }
  }

  private updateCostFromTime() {
    // Don't auto-update the cost input if the user is already editing it
    // Funny and bad things will happen :(
    if (
      document &&
      document.activeElement &&
      document.activeElement.id === "costInput"
    ) {
      return;
    }
    if (this.selectedWorkType) {
      let parsedTime = parseFloat(this.timeInput);
      parsedTime = isNaN(parsedTime) ? 0 : parsedTime;
      let tempCost = parsedTime * this.selectedWorkType.rate;
      if (this.timeType === TimeType.Minutes) {
        tempCost = tempCost / 60;
      }
      this.costInput = tempCost.toFixed(2);
    }
  }

  private blurTime() {
    let curTime = parseFloat(this.timeInput);
    if (isNaN(curTime)) {
      curTime = 0;
    }
    if (this.timeType === TimeType.Minutes) {
      this.timeInput = curTime.toFixed(0);
    } else {
      this.timeInput = curTime.toFixed(2);
    }
  }

  private blurCost() {
    let parsedCost = parseFloat(this.costInput);
    if (isNaN(parsedCost)) {
      parsedCost = 0;
    }
    this.costInput = parsedCost.toFixed(2);
  }

  private focusCost() {}

  private roundUp() {
    let parsedTime: number = parseFloat(this.timeInput);
    if (this.timeType === TimeType.Minutes) {
      parsedTime = Math.ceil(parsedTime / 15) * 15;
      this.timeInput = parsedTime.toFixed(0);
    } else {
      parsedTime = Math.ceil(parsedTime * 4) / 4;
      this.timeInput = parsedTime.toFixed(2);
    }
  }

  private roundDown() {
    let parsedTime: number = parseFloat(this.timeInput);
    if (this.timeType === TimeType.Minutes) {
      parsedTime = Math.floor(parsedTime / 15) * 15;
      this.timeInput = parsedTime.toFixed(0);
    } else {
      parsedTime = Math.floor(parsedTime * 4) / 4;
      this.timeInput = parsedTime.toFixed(2);
    }
  }

  private mounted() {
    axios.get(this.api).then(response => {
      if (response && response.data && Array.isArray(response.data)) {
        if (response.data.length) {
          this.workTypes = response.data;
          this.selectedWorkType = response.data[0];
        }
      }
    });
  }
}
</script>

<style lang="scss">
@import "~bulma/sass/utilities/_all.sass";

body,
html {
  height: 100%;
}
#bg_full {
  background-image: url("./assets/img/nyc-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-wrap: nowrap;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  height: 100vh;
  justify-content: center;
  max-width: 625px;
  padding: 0;
  .columns .column {
    margin-right: 0;
  }
}
#form-box {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  color: #2c3e50;
  padding: 32px 16px;
  margin: 16px;
  width: 100%;
}
.ctc-input {
  width: 100%;
}
.ctc-label {
  height: 100%;
  font-size: 18px;
  text-align: left;
  padding-top: 6px;
}
.time-drop .select:not(.is-multiple):not(.is-loading)::after {
  border-color: white;
}
.time-drop .select > select {
  background-color: hsl(217, 71%, 53%);
  border-radius: 500px;
  border-color: white;
  color: white;
  &:not(:hover)::after {
    border-color: white;
  }
}
.time-container {
  width: 100%;
}
</style>
